.feature-section {
  /* Feature section container styles */
  background: #fff;
  color: #333;
  padding: 2rem;
  text-align: center;
}

.feature-section h2 {
  /* Section heading styles */
  font-size: 2rem;
  margin-bottom: 1rem;
}

.feature-details {
  /* Container for feature details */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature-details img {
  /* Featured project image styles */
  max-width: 50%;
  height: auto;
  margin: 1rem;
}

.details {
  text-align: left;
}

.details h3 {
  /* Project title styles */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.details p {
  /* Paragraph styles */
  margin: 0.5rem 0;
}

/* xs - Extra Small Devices */
@media (min-width: 475px) {
  .feature-details {
    flex-direction: column;
  }
  .feature-details img,
  .details {
    max-width: 100%;
    margin: 1rem 0;
  }
}

/* sm - Small Devices */
@media (min-width: 640px) {
  .feature-details img {
    max-width: 75%;
  }
}

/* md - Medium Devices */
@media (min-width: 768px) {
  .feature-details {
    flex-direction: row;
  }
  .feature-details img {
    max-width: 50%;
  }
}

/* lg - Large Devices */
@media (min-width: 1024px) {
  .feature-section {
    padding: 3rem;
  }
}

/* xl - Extra Large Devices */
@media (min-width: 1280px) {
  .feature-section {
    padding: 4rem;
  }
}

/* 2xl - Double Extra Large Devices */
@media (min-width: 1536px) {
  .feature-section {
    padding: 5rem;
  }
  .feature-details img {
    max-width: 45%;
  }
}
