.navbar {
  /* Navbar container styles */
  background-color: #333;
  padding: 1rem;
}

.nav-links {
  /* Styles for the list of nav links */

  display: flex;
  list-style: none;
}

.nav-links li a {
  /* Styles for the nav links */
  color: white;
  text-decoration: none;
}

.current-active {
  color: lightblue;
  text-decoration: underline;
}
.show-hide {
  display: none;
}
.hide {
  display: none;
}
/* Extra Small devices (phones, 475px and up) */
@media (min-width: 300px) {
  /* .nav-links {
  } */
  /* .nav-links li a {
    /* Styles for the nav links 
  } */
}

/* Small devices (tablets, 640px and up) */
@media (min-width: 640px) {
  /* .nav-links {
    flex-direction: column;
  } */
  .nav-links li a {
    /* Styles for the nav links */
    margin: 0 1rem;
  }
}

/* Medium devices (tablets, 768px and up) - Switch to row layout and display flex */
@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
  }
}

/* Small devices (less than 768px) - Hide nav-links and show image-toggle */
@media (max-width: 767px) {
  .nav-links {
    /* display: none; */
    flex-direction: column;
  }
  .show-hide {
    display: block;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .navbar {
    padding: 1.5rem;
  }
  .nav-links {
    gap: 1.3rem;
    flex-direction: row;
  }
}

/* Extra Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  .navbar {
    padding: 2rem;
  }
}

/* 2X Large devices (larger desktops, 1536px and up) */
@media (min-width: 1536px) {
  .navbar {
    padding: 2.5rem;
  }
  .nav-links {
    gap: 3rem;
  }
}
