.portfolio-list-section {
  /* Portfolio list section container styles */
  background: #f4f4f4;
  color: #333;
  padding: 2rem;
  text-align: center;
}

.portfolio-list-section h2 {
  /* Section heading styles */
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* xs - Extra Small Devices */
@media (min-width: 475px) {
  .portfolio-list-section h2 {
    font-size: 1.8rem; /* Adjust heading size for small devices */
  }
}

/* sm - Small Devices */
@media (min-width: 640px) {
  .portfolio-list-section h2 {
    font-size: 2rem; /* Default size for small devices */
  }
}

/* md - Medium Devices */
@media (min-width: 768px) {
  .portfolio-items {
    flex-direction: row; /* Maintain row layout for medium devices */
  }
}

/* lg - Large Devices */
@media (min-width: 1024px) {
  .portfolio-list-section {
    padding: 3rem; /* Increase padding for larger devices */
  }
}

/* xl - Extra Large Devices */
@media (min-width: 1280px) {
  .portfolio-list-section {
    padding: 4rem; /* Further increase padding for extra large devices */
  }
}

/* 2xl - Double Extra Large Devices */
@media (min-width: 1536px) {
  .portfolio-list-section h2 {
    font-size: 2.5rem; /* Increase heading size for very large devices */
  }
}

.portfolio-items {
  /* Container for portfolio items */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  /* Single portfolio item styles */
  margin: 1rem;
  text-align: left;
}

.portfolio-item img {
  /* Project thumbnail styles */
  width: 100%;
  height: auto;
}

.portfolio-item p {
  /* Project description styles */
  margin: 0.5rem 0;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .portfolio-items {
    flex-direction: column; /* Stack items on small screens */
  }
  .portfolio-item {
    margin: 1rem 0; /* Adjust margin for stacked items */
  }
}
