/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
} */

.stats-section {
  /* Stats section container styles */
  background: #f4f4f4;
  color: #333;
  padding: 1rem; /* Default padding for mobile */
  text-align: center;
}

/* Extra small devices (phones, less than 475px) */
@media (min-width: 475px) {
  /* Styles for small devices */
  .stats-section {
    padding: 1.5rem; /* Adjust padding for small devices */
  }
}

/* Small devices (tablets, 640px and up) */
@media (min-width: 640px) {
  /* Styles for medium devices */
  .stats-section {
    padding: 2rem; /* Adjust padding for medium devices */
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
  /* Section heading styles */
  .stats-section h2 {
    font-size: 2rem; /* Original size for medium devices */
  }
  .stats-container {
    flex-direction: row; /* Align stats in a row */
  }
  .stat-item {
    margin: 1rem; /* Maintain margin for spacing */
  }
  .stat-item h3 {
    font-size: 2.5rem; /* Original size for medium devices */
  }
  .stat-item p {
    font-size: 1.2rem; /* Original size for medium devices */
  }
}

/* Large devices (large desktops, 1024px and up) */
@media (min-width: 1024px) {
  /* Styles for large devices */
  .stats-section h2 {
    font-size: 2.5rem; /* Adjust size for large devices */
  }
  .stat-item h3 {
    font-size: 3rem; /* Adjust size for large devices */
  }
}

/* Extra large devices (larger desktops, 1280px and up) */
@media (min-width: 1280px) {
  /* Styles for extra large devices */
  .stats-section h2 {
    font-size: 3rem; /* Adjust size for extra large devices */
  }
  .stat-item h3 {
    font-size: 3.5rem; /* Adjust size for extra large devices */
  }
}

/* 2x large devices (1536px and up) */
@media (min-width: 1536px) {
  /* Styles for 2x large devices */
  .stats-section h2 {
    font-size: 3.5rem; /* Adjust size for 2x large devices */
  }
  .stat-item h3 {
    font-size: 4rem; /* Adjust size for 2x large devices */
  }
}
